@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Karla");
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_layout.scss */
.onecol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 5.71429%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 22, ../sass/_layout.scss */
  .onecol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 30, ../sass/_layout.scss */
.twocol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 30, ../sass/_layout.scss */
  .twocol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 38, ../sass/_layout.scss */
.threecol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 38, ../sass/_layout.scss */
  .threecol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 46, ../sass/_layout.scss */
.fourcol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 46, ../sass/_layout.scss */
  .fourcol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 54, ../sass/_layout.scss */
.fivecol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 54, ../sass/_layout.scss */
  .fivecol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 62, ../sass/_layout.scss */
.sixcol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 62, ../sass/_layout.scss */
  .sixcol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 70, ../sass/_layout.scss */
.sevencol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 57.14286%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 70, ../sass/_layout.scss */
  .sevencol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 78, ../sass/_layout.scss */
.eightcol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 78, ../sass/_layout.scss */
  .eightcol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 86, ../sass/_layout.scss */
.ninecol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 86, ../sass/_layout.scss */
  .ninecol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 94, ../sass/_layout.scss */
.tencol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 82.85714%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 94, ../sass/_layout.scss */
  .tencol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 102, ../sass/_layout.scss */
.elevencol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.42857%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 61.25em) {
  /* line 102, ../sass/_layout.scss */
  .elevencol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 110, ../sass/_layout.scss */
.twelvecol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 61.25em) {
  /* line 110, ../sass/_layout.scss */
  .twelvecol {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 118, ../sass/_layout.scss */
.last {
  margin-right: 0;
}

/**
 * Reusable mixins.
 */
/*From https://gist.github.com/adamstac/5048881*/
/* Vertical Rhythm : establish-baseline - http://compass-style.org/reference/compass/typography/vertical_rhythm/ */
/* Vertical Rhythm : adjust-font-size - http://compass-style.org/reference/compass/typography/vertical_rhythm/ */
/* Vertical Rhythm : margin-trailer - http://compass-style.org/reference/compass/typography/vertical_rhythm/ */
/*This updated version from http://webaim.org/techniques/css/invisiblecontent/*/
@font-face {
  font-family: 'springTime';
  src: url("../fonts/springtime_webfont.woff2") format("woff2"), url("../fonts/springtime_webfont.woff") format("woff"), url("../fonts/springtime_webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AutumnInNovember';
  src: url("../fonts/autumn_in_november_webfont.woff2") format("woff2"), url("../fonts/autumn_in_november_webfont.woff") format("woff"), url("../fonts/autumn_in_november_webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liebeerika_regularregular';
  src: url("../fonts/liebeerika-regular-webfont.woff2") format("woff2"), url("../fonts/liebeerika-regular-webfont.woff") format("woff"), url("../fonts/liebeerika-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 146, ../sass/_mixins.scss */
html {
  font-size: 100%;
  line-height: 1.75em;
}

/* line 52, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 18px;
  margin-bottom: 1.09375rem;
  margin-top: 0;
  color: #f6eadb;
}

/* line 59, ../sass/_typography.scss */
h1 {
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 70px;
  line-height: 4.375rem;
  margin-bottom: 42px;
  margin-bottom: 2.625rem;
  font-family: "liebeerika_regularregular";
  text-align: center;
}
@media (min-width: 30.01em) {
  /* line 66, ../sass/_typography.scss */
  h1:before, h1:after {
    content: '';
    height: 35px;
    width: 25%;
    max-width: 210px;
    display: inline-block;
  }
  /* line 75, ../sass/_typography.scss */
  h1:before {
    background: url("../images/arrow-header-left.png") no-repeat center;
    background-size: contain;
    margin-right: 5px;
  }
  /* line 80, ../sass/_typography.scss */
  h1:after {
    background: url("../images/arrow-header-right.png") no-repeat center;
    background-size: contain;
    margin-left: 5px;
  }
}

/* line 88, ../sass/_typography.scss */
h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 56px;
  line-height: 3.5rem;
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
  font-family: "liebeerika_regularregular";
}

/* line 94, ../sass/_typography.scss */
h3 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 42px;
  line-height: 2.625rem;
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
  font-family: "liebeerika_regularregular";
}

/* line 100, ../sass/_typography.scss */
a, a:visited {
  text-decoration: none;
  color: #dbaeae;
  outline: none;
}
/* line 105, ../sass/_typography.scss */
a:hover, a:visited:hover {
  text-decoration: underline;
}
/* line 109, ../sass/_typography.scss */
a.btn, a:visited.btn {
  color: #dbaeae;
}
/* line 112, ../sass/_typography.scss */
a.btn:hover, a:visited.btn:hover {
  color: #FFF;
}

/* line 118, ../sass/_typography.scss */
p, li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 18px;
  margin-bottom: 1.09375rem;
}

/* line 123, ../sass/_typography.scss */
sup,
sub {
  font-size: 0.6em;
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
}

/* line 133, ../sass/_typography.scss */
sup {
  bottom: 0.75em;
}

/* line 137, ../sass/_typography.scss */
sub {
  top: 0.5em;
}

/* line 141, ../sass/_typography.scss */
address {
  font-style: italic;
  margin-bottom: 18px;
  margin-bottom: 1.09375rem;
}

/* line 146, ../sass/_typography.scss */
small {
  font-size: 0.7em;
}

/* Slider */
/* line 31, ../sass/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 46, ../sass/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 53, ../sass/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 57, ../sass/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 63, ../sass/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 72, ../sass/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 78, ../sass/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 84, ../sass/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 88, ../sass/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 93, ../sass/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 97, ../sass/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 100, ../sass/_slick.scss */
.slick-slide img {
  display: block;
  width: 100%;
}
/* line 104, ../sass/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 110, ../sass/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 114, ../sass/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 118, ../sass/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 122, ../sass/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 129, ../sass/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 135, ../sass/_slick.scss */
.slick-loading .slick-list {
  background: #fff url('/images/ajax-loader.gif?1517992599') center center no-repeat;
}

/* Arrows */
/* line 141, ../sass/_slick.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #550202;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}
/* line 161, ../sass/_slick.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
/* line 165, ../sass/_slick.scss */
.slick-prev:before,
.slick-next:before {
  font-family: "FontAwesome";
  font-size: 48px;
  line-height: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 48em) {
  /* line 141, ../sass/_slick.scss */
  .slick-prev,
  .slick-next {
    height: 28px;
    width: 28px;
  }
  /* line 178, ../sass/_slick.scss */
  .slick-prev:before,
  .slick-next:before {
    font-size: 26px;
  }
}

/* line 184, ../sass/_slick.scss */
.slick-prev {
  left: 0px;
}
/* line 186, ../sass/_slick.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: 0px;
}
/* line 190, ../sass/_slick.scss */
.slick-prev:before {
  content: "";
}
/* line 192, ../sass/_slick.scss */
[dir="rtl"] .slick-prev:before {
  content: "";
}

/* line 198, ../sass/_slick.scss */
.slick-next {
  right: 0px;
}
/* line 200, ../sass/_slick.scss */
[dir="rtl"] .slick-next {
  left: 0px;
  right: auto;
}
/* line 204, ../sass/_slick.scss */
.slick-next:before {
  content: "";
}
/* line 206, ../sass/_slick.scss */
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
/* line 213, ../sass/_slick.scss */
.main ul.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  bottom: 5px;
}
/* line 223, ../sass/_slick.scss */
.main ul.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 232, ../sass/_slick.scss */
.main ul.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 244, ../sass/_slick.scss */
.main ul.slick-dots li button:hover, .main ul.slick-dots li button:focus {
  outline: none;
}
/* line 247, ../sass/_slick.scss */
.main ul.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #550202;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 263, ../sass/_slick.scss */
.main ul.slick-dots li.slick-active button:before {
  content: "";
  color: #dbaeae;
  font-size: 18px;
}
@media (max-width: 48em) {
  /* line 213, ../sass/_slick.scss */
  .main ul.slick-dots {
    bottom: 0;
  }
  /* line 273, ../sass/_slick.scss */
  .main ul.slick-dots li {
    height: 15px;
    width: 15px;
  }
  /* line 277, ../sass/_slick.scss */
  .main ul.slick-dots li button {
    height: 15px;
    width: 15px;
    padding: 2px;
  }
  /* line 282, ../sass/_slick.scss */
  .main ul.slick-dots li button:before {
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 9px;
  }
  /* line 290, ../sass/_slick.scss */
  .main ul.slick-dots li.slick-active button:before {
    font-size: 12px;
  }
}

/* Reset */
/* line 3, ../sass/_flipclock.scss */
.flip-clock-wrapper * {
  margin: 0;
  padding: 0;
  line-height: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 11, ../sass/_flipclock.scss */
.flip-clock-wrapper a {
  cursor: pointer;
  pointer-events: none;
  text-decoration: none;
  color: #f6eadb;
}

/* line 18, ../sass/_flipclock.scss */
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}

/* line 24, ../sass/_flipclock.scss */
.flip-clock-wrapper.clearfix:after {
  clear: both;
}

/* line 28, ../sass/_flipclock.scss */
.flip-clock-wrapper.clearfix {
  *zoom: 1;
}

/* Main */
/* line 33, ../sass/_flipclock.scss */
.content .flip-clock-wrapper {
  margin: 56px 0 14px;
  margin: 3.5rem 0 0.875rem;
  font: normal 20px "Karla", sans-serif;
  -webkit-user-select: none;
  text-align: center;
  position: relative;
}
/* line 40, ../sass/_flipclock.scss */
.content .flip-clock-wrapper:after, .content .flip-clock-wrapper:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 45, ../sass/_flipclock.scss */
.content .flip-clock-wrapper:after {
  clear: both;
}
@media (max-width: 48em) and (min-width: 30.01em) {
  /* line 33, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper {
    zoom: 0.8;
  }
}

@media (max-width: 30em) {
  /* line 33, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper {
    zoom: 0.6;
  }
}
/* line 57, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  padding: 0;
  width: 60px;
  height: 90px;
  font-weight: bold;
  border-radius: 6px;
  background: #550202;
  box-shadow: 0 2px 5px rgba(16, 16, 16, 0.5);
  list-style: none;
}
@media (max-width: 48em) {
  /* line 57, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul {
    margin-bottom: 56px;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 30em) {
  /* line 57, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul {
    margin: 2px 2px 42px;
    margin: 0.125rem 0.125rem 2.625rem;
  }
}
/* line 78, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
}
@media (max-width: 48em) and (min-width: 30.01em) {
  /* line 78, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li {
    line-height: 60px;
  }
}

@media (max-width: 30em) {
  /* line 78, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li {
    line-height: 40px;
  }
}
/* line 95, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li:first-child {
  z-index: 2;
}
/* line 99, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -moz-perspective: 200px;
  -webkit-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
}
/* line 106, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
/* line 114, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 121, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #f6eadb;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #550202;
  border-radius: 6px;
  font-size: 70px;
}
@media (max-width: 48em) and (min-width: 30.01em) {
  /* line 121, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div div.inn {
    font-size: 55px;
  }
}

@media (max-width: 30em) {
  /* line 121, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div div.inn {
    font-size: 38px;
  }
}
/* line 143, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div.up {
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}
/* line 147, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: rgba(16, 16, 16, 0.2);
}
/* line 158, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}
@media (max-width: 48em) and (min-width: 30.01em) {
  /* line 158, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div.up div.inn {
    padding-top: 3px;
  }
}

@media (max-width: 30em) {
  /* line 158, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div.up div.inn {
    padding-top: 8px;
  }
}
/* line 171, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div.down {
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 177, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}
@media (max-width: 48em) and (min-width: 30.01em) {
  /* line 177, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div.down div.inn {
    bottom: -3px;
  }
}

@media (max-width: 30em) {
  /* line 177, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper ul li a div.down div.inn {
    bottom: -8px;
  }
}
/* line 194, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}
/* line 198, ../sass/_flipclock.scss */
.content .flip-clock-wrapper ul.play li.flip-clock-active {
  -moz-animation: asd 0.5s 0.5s linear both;
  -webkit-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5;
}
/* line 205, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}
/* line 212, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-divider:first-child {
  width: 0;
}
/* line 216, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -60px;
  color: #f6eadb;
  text-shadow: none;
}
/* line 224, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}
/* line 225, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}
@media (max-width: 48em) {
  /* line 228, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper .flip-clock-divider.hours {
    clear: both;
    width: 0;
  }
  /* line 232, ../sass/_flipclock.scss */
  .content .flip-clock-wrapper .flip-clock-divider.hours .flip-clock-dot {
    display: none;
  }
}
/* line 239, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-dot {
  display: block;
  background: #dbaeae;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: 5px;
}
/* line 248, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-dot.top {
  top: 30px;
}
/* line 252, ../sass/_flipclock.scss */
.content .flip-clock-wrapper .flip-clock-dot.bottom {
  bottom: 30px;
}

/* line 258, ../sass/_flipclock.scss */
.flip-clock-meridium {
  background: none;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
  color: #313333;
  bottom: 10px;
}

@-moz-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
/* line 278, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -moz-animation: turn 0.5s 0.5s linear both;
  -webkit-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
/* line 292, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -moz-animation: turn2 0.5s linear both;
  -webkit-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
/* line 306, ../sass/_flipclock.scss */
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}

/* SHADOW */
/* line 309, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  -moz-animation: show 0.5s linear both;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 319, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  -moz-animation: hide 0.5s 0.3s linear both;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/
/* line 331, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  -moz-animation: show 0.5s linear both;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 341, ../sass/_flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  -moz-animation: hide 0.5s 0.3s linear both;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 1, ../sass/_header.scss */
header.header {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: fixed;
  z-index: 999;
  width: 100%;
}
@media (min-width: 48.0625em) {
  /* line 1, ../sass/_header.scss */
  header.header {
    padding: 0 14px;
    padding: 0 0.875rem;
  }
  /* line 10, ../sass/_header.scss */
  header.header.solid-colour {
    background-color: #FFF;
    border-bottom: 1px solid #cdcdcd;
  }
}
/* line 16, ../sass/_header.scss */
header.header .nav {
  position: relative;
}

/* line 2, ../sass/_footer.scss */
footer img.flower-footer {
  max-width: 100%;
  display: block;
  margin: auto;
}
@media (min-width: 48.01em) {
  /* line 2, ../sass/_footer.scss */
  footer img.flower-footer {
    padding: 28px;
    padding: 1.75rem;
  }
}

@media (min-width: 48.0625em) {
  /* line 1, ../sass/_menu.scss */
  .nav {
    text-align: right;
  }
  /* line 5, ../sass/_menu.scss */
  .nav button.nav-button {
    display: none;
  }
}
/* line 10, ../sass/_menu.scss */
.nav button.nav-button {
  margin: 0;
  padding: 21px 12px;
  padding: 1.3125rem 0.75rem;
  border: 0;
  cursor: pointer;
  z-index: 21;
  overflow: hidden;
  background: #550202;
  position: absolute;
  top: 0;
}
/* line 21, ../sass/_menu.scss */
.nav button.nav-button:focus {
  outline: none;
}
@media (max-width: 48em) {
  /* line 10, ../sass/_menu.scss */
  .nav button.nav-button {
    display: block;
  }
  /* line 95, ../sass/_mixins.scss */
  .nav button.nav-button:before {
    position: absolute;
    content: '';
    display: block;
    background: #FFF;
    top: 11px;
    left: 0;
    width: 22px;
    height: 2px;
    -moz-box-shadow: 0 16px 0 0 #FFF;
    -webkit-box-shadow: 0 16px 0 0 #FFF;
    box-shadow: 0 16px 0 0 #FFF;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  /* line 108, ../sass/_mixins.scss */
  .nav button.nav-button:after {
    position: absolute;
    content: '';
    display: block;
    background: #FFF;
    top: 19px;
    left: 0;
    width: 16px;
    height: 2px;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  /* line 29, ../sass/_menu.scss */
  .nav button.nav-button:before {
    position: relative;
    top: -6px;
  }
  /* line 34, ../sass/_menu.scss */
  .nav button.nav-button:after {
    position: relative;
    top: 0;
  }
}
/* line 41, ../sass/_menu.scss */
.nav button.nav-button.toggle_button__on:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  box-shadow: none;
}
/* line 47, ../sass/_menu.scss */
.nav button.nav-button.toggle_button__on:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 22px;
}
/* line 54, ../sass/_menu.scss */
.nav ul {
  position: relative;
  list-style: none;
  z-index: 20;
  display: inline;
}
/* line 60, ../sass/_menu.scss */
.nav ul li {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 42px;
  line-height: 2.625rem;
  font-family: "liebeerika_regularregular";
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
/* line 70, ../sass/_menu.scss */
.nav ul li a {
  display: inline-block;
  padding: 7px;
  padding: 0.4375rem;
  text-decoration: none;
  color: #550202;
}
@media (max-width: 48em) {
  /* line 80, ../sass/_menu.scss */
  .nav nav {
    width: 100%;
    display: none;
    background: #FFF;
  }
  /* line 85, ../sass/_menu.scss */
  .nav nav ul {
    padding-top: 42px;
    padding-top: 2.625rem;
    display: block;
  }
  /* line 89, ../sass/_menu.scss */
  .nav nav ul li {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 28px;
    line-height: 1.75rem;
    display: block;
    width: 100%;
    padding: 0;
  }
  /* line 95, ../sass/_menu.scss */
  .nav nav ul li a {
    padding-left: 14px;
    padding-left: 0.875rem;
    display: block;
  }
  /* line 100, ../sass/_menu.scss */
  .nav nav ul li:hover {
    background: #550202;
  }
  /* line 103, ../sass/_menu.scss */
  .nav nav ul li:hover > a {
    color: #FFF;
  }
}

/* line 26, ../sass/_button.scss */
.btn,
input[type="submit"] {
  padding: 7px 35px;
  padding: 0.4375rem 2.1875rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  background: #550202;
  border: 2px solid #550202;
  color: #f6eadb;
  font-weight: bold;
  font-family: "liebeerika_regularregular";
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  outline: none;
}
/* line 19, ../sass/_button.scss */
.btn:hover,
input[type="submit"]:hover {
  background-color: #FFF;
  color: #550202;
  text-decoration: none;
}

/* line 30, ../sass/_button.scss */
.btn,
input[type="submit"] {
  width: auto;
  display: block;
  margin: auto;
}

/* line 1, ../sass/_form.scss */
input, textarea, select {
  position: relative;
  background: #FFF;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 21px;
  color: #101010;
  padding: 6px;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  border-radius: 0;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 82, ../sass/_mixins.scss */
input:focus, textarea:focus, select:focus {
  outline: 0;
}
@media (max-width: 30em) {
  /* line 1, ../sass/_form.scss */
  input, textarea, select {
    padding: 4px;
    font-size: 16px;
    margin-bottom: 7px;
    margin-bottom: 0.4375rem;
  }
}

/* line 5, ../sass/_form.scss */
textarea {
  border: 2px solid;
}

/* line 9, ../sass/_form.scss */
input[type="checkbox"] {
  display: none;
}
/* line 12, ../sass/_form.scss */
input[type="checkbox"] + label:before {
  content: '';
  border: 2px solid #75777B;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 3px;
}
/* line 25, ../sass/_form.scss */
input[type="checkbox"]:checked + label:before {
  border-color: #550202;
}
/* line 36, ../sass/_mixins.scss */
input[type="checkbox"]:checked + label:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FontAwesome";
  font-size: 21px;
  font-weight: normal;
  content: "";
  color: #550202;
  margin-left: 10px;
}
/* line 31, ../sass/_form.scss */
input[type="checkbox"]:checked + label:after {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 6px;
}

/* line 41, ../sass/_form.scss */
input[type="radio"] {
  display: none;
}
/* line 44, ../sass/_form.scss */
input[type="radio"] + label:before {
  content: '';
  border: 2px solid #75777B;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 3px;
}
/* line 58, ../sass/_form.scss */
input[type="radio"]:checked + label:before {
  border-color: #550202;
}
/* line 62, ../sass/_form.scss */
input[type="radio"]:checked + label:after {
  content: '';
  top: 9px;
  left: 6px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #550202;
  position: absolute;
}

/* line 76, ../sass/_form.scss */
input[type="radio"] + label,
input[type="checkbox"] + label {
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  padding-left: 37px;
  line-height: 32px;
}
@media (max-width: 40em) {
  /* line 76, ../sass/_form.scss */
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    width: 100%;
    margin-right: 0;
  }
}

/* line 88, ../sass/_form.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 94, ../sass/_form.scss */
select::-ms-expand {
  display: none;
}

/* line 98, ../sass/_form.scss */
.select-wrapper {
  background-color: #FFF;
  position: relative;
}
/* line 36, ../sass/_mixins.scss */
.select-wrapper:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FontAwesome";
  font-size: 21px;
  font-weight: normal;
  content: "";
  color: #75777B;
  margin-left: 10px;
}
/* line 104, ../sass/_form.scss */
.select-wrapper:after {
  position: absolute;
  right: 0;
  top: 8px;
  width: 20px;
  height: 24px;
  z-index: 5;
  text-align: center;
  pointer-events: none;
}
/* line 115, ../sass/_form.scss */
.select-wrapper select {
  padding-right: 25px;
  cursor: pointer;
}

/* line 121, ../sass/_form.scss */
div.name-wrapper input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 124, ../sass/_form.scss */
div.name-wrapper input:nth-of-type(even) {
  margin-right: 0;
}
@media (max-width: 30em) {
  /* line 121, ../sass/_form.scss */
  div.name-wrapper input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 133, ../sass/_form.scss */
label {
  width: 30%;
  margin-right: 1.5%;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
  vertical-align: top;
}
@media (min-width: 40.01em) {
  /* line 133, ../sass/_form.scss */
  label {
    line-height: 32px;
    text-align: right;
  }
  /* line 146, ../sass/_form.scss */
  label.with-radio {
    width: 20%;
  }
}
/* line 151, ../sass/_form.scss */
label + input,
label + select,
label + textarea,
label + div.select-wrapper,
label + div.name-wrapper {
  width: 67%;
  max-width: 500px;
}
/* line 160, ../sass/_form.scss */
label + div.select-wrapper,
label + div.name-wrapper {
  display: inline-block;
}
@media (max-width: 40em) {
  /* line 133, ../sass/_form.scss */
  label {
    width: 100%;
  }
  /* line 168, ../sass/_form.scss */
  label + input,
  label + select,
  label + textarea,
  label + div.select-wrapper,
  label + div.name-wrapper {
    width: 100%;
  }
}

/* line 3, ../sass/style.scss */
html {
  width: 100%;
}

/* line 7, ../sass/style.scss */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #f6eadb;
  background: url("../images/wood-bg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 40em) {
  /* line 17, ../sass/style.scss */
  html, body {
    -webkit-text-size-adjust: none;
  }
}
/* line 22, ../sass/style.scss */
#wrapper {
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../sass/style.scss */
.inner-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.inner-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, ../sass/style.scss */
.main > .row {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
/* line 38, ../sass/style.scss */
.main > .row.content {
  padding: 0 28px;
  padding: 0 1.75rem;
}
/* line 41, ../sass/style.scss */
.main > .row.content > .inner-wrap section.twelvecol {
  margin-bottom: 56px;
  margin-bottom: 3.5rem;
}
/* line 47, ../sass/style.scss */
.main.no-banner {
  padding-top: 56px;
  padding-top: 3.5rem;
}

/* line 53, ../sass/style.scss */
.content ul, .content ol {
  list-style: disc;
  list-style-position: outside;
  margin: 0 0 28px;
  margin: 0 0 1.75rem;
  padding: 0 0 0 20px;
}
/* line 60, ../sass/style.scss */
.content ol {
  list-style: decimal;
}
/* line 64, ../sass/style.scss */
.content img {
  max-width: 100%;
  height: auto;
}

/* line 70, ../sass/style.scss */
a img {
  border: none;
}

/* line 74, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 78, ../sass/style.scss */
.fr {
  float: right;
}

/* line 82, ../sass/style.scss */
.fl {
  float: left;
}

/* line 86, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 90, ../sass/style.scss */
hr {
  border: none;
  background: #cdcdcd;
  height: 1px;
  margin: 28px 0;
  margin: 1.75rem 0;
}

/* line 98, ../sass/style.scss */
.alert {
  padding: 14px;
  padding: 0.875rem;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 105, ../sass/style.scss */
.alert p {
  margin-bottom: 0;
}
/* line 109, ../sass/style.scss */
.alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
/* line 115, ../sass/style.scss */
.alert.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
/* line 121, ../sass/style.scss */
.alert.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
/* line 127, ../sass/style.scss */
.alert.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/*********** SLIDER *************/
/* line 135, ../sass/style.scss */
section.slider-container {
  position: relative;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
/* line 139, ../sass/style.scss */
section.slider-container .main-banner {
  height: 0;
  padding-bottom: 37.5%;
}
/* line 143, ../sass/style.scss */
section.slider-container .main-banner:not(.slick-initialized) {
  overflow: hidden;
}
/* line 147, ../sass/style.scss */
section.slider-container .main-banner figure {
  position: relative;
  padding-bottom: 37.5%;
  height: 0;
  overflow: hidden;
}
/* line 27, ../sass/_mixins.scss */
section.slider-container .main-banner figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 150, ../sass/style.scss */
section.slider-container .main-banner figure:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #f6eadb;
  z-index: -1;
}
/* line 160, ../sass/style.scss */
section.slider-container .main-banner figure img {
  opacity: 0.6;
}
/* line 164, ../sass/style.scss */
section.slider-container .main-banner figure figcaption {
  padding: 28px;
  padding: 1.75rem;
  position: absolute;
  margin: auto;
  width: 80%;
  max-width: 680px;
  left: 0;
  right: 0;
  top: 25%;
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  text-align: center;
  font-family: "springTime";
  font-size: 75px;
  line-height: 126px;
  line-height: 7.875rem;
  color: #550202;
}
/* line 180, ../sass/style.scss */
section.slider-container .main-banner figure figcaption span {
  font-family: "AutumnInNovember";
  font-size: 65px;
  margin: -8px 0;
  display: inline-block;
}
@media (max-width: 75em) {
  /* line 164, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption {
    font-size: 60px;
    line-height: 98px;
    line-height: 6.125rem;
  }
  /* line 190, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption span {
    font-size: 54px;
  }
}
@media (max-width: 61.25em) {
  /* line 164, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption {
    font-size: 48px;
    line-height: 70px;
    line-height: 4.375rem;
  }
  /* line 198, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption span {
    font-size: 40px;
  }
}
@media (max-width: 40em) {
  /* line 164, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption {
    padding: 14px;
    padding: 0.875rem;
    font-size: 28px;
    line-height: 42px;
    line-height: 2.625rem;
  }
  /* line 208, ../sass/style.scss */
  section.slider-container .main-banner figure figcaption span {
    font-size: 24px;
  }
}
/* line 216, ../sass/style.scss */
section.slider-container .slider-title {
  padding: 0 28px;
  padding: 0 1.75rem;
}
/* line 222, ../sass/style.scss */
section.slider-container .carousel div.slick-slide figure {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}
/* line 27, ../sass/_mixins.scss */
section.slider-container .carousel div.slick-slide figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/************* MAPS ****************/
/* line 230, ../sass/style.scss */
div.map-container {
  position: relative;
  height: 350px;
}
@media (max-width: 47.99em) {
  /* line 230, ../sass/style.scss */
  div.map-container {
    height: 250px;
  }
}
/* line 238, ../sass/style.scss */
div.map-container > iframe {
  position: absolute !important;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 249, ../sass/style.scss */
#instafeed > div {
  margin-bottom: 2.85714%;
}
@media (min-width: 64em) {
  /* line 249, ../sass/style.scss */
  #instafeed > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 254, ../sass/style.scss */
  #instafeed > div:nth-of-type(4n+4) {
    margin-right: 0;
  }
}
@media (max-width: 63.99em) and (min-width: 48.0625em) {
  /* line 249, ../sass/style.scss */
  #instafeed > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 262, ../sass/style.scss */
  #instafeed > div:nth-of-type(3n+3) {
    margin-right: 0;
  }
}

@media (max-width: 47.99em) and (min-width: 30em) {
  /* line 249, ../sass/style.scss */
  #instafeed > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 270, ../sass/style.scss */
  #instafeed > div:nth-of-type(even) {
    margin-right: 0;
  }
}

@media (max-width: 30em) {
  /* line 249, ../sass/style.scss */
  #instafeed > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 279, ../sass/style.scss */
#instafeed > div figure {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
/* line 27, ../sass/_mixins.scss */
#instafeed > div figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 284, ../sass/style.scss */
#instafeed > div figure figcaption {
  padding: 14px;
  padding: 0.875rem;
  font-size: 12px;
  line-height: 1.2;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.6);
  z-index: 2;
}
/* line 297, ../sass/style.scss */
#instafeed > div figure figcaption div {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 302, ../sass/style.scss */
#instafeed > div figure figcaption div span {
  font-size: 21px;
  display: block;
}
/* line 36, ../sass/_mixins.scss */
#instafeed > div figure figcaption div span:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FontAwesome";
  font-size: 21px;
  font-weight: normal;
  content: "";
  margin-right: 10px;
}
/* line 310, ../sass/style.scss */
#instafeed > div figure img {
  bottom: 0;
  margin: auto;
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 318, ../sass/style.scss */
#instafeed > div figure:hover figcaption {
  display: block;
}
/* line 322, ../sass/style.scss */
#instafeed > div figure:hover img {
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
