@import "../bower_components/sass-rem/_rem.scss";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities/general/clearfix";

@import "susy";

@import "../bower_components/include-media/dist/_include-media.scss";

@import "layout";
@import "mixins";
@import "variables";

/*This updated version from http://webaim.org/techniques/css/invisiblecontent/*/
%hidden-but-accessible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@import "typography";
@import "slick";
@import "flipclock";
@import "header";
@import "footer";
@import "menu";