.nav {
    @include media(">=tablet-gt") {
        text-align: right;

        button.nav-button {
            display: none;
        }
    }

    button.nav-button {
        margin: 0;
        @include rem(padding, 21px 12px);
        border: 0;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;
        background: $primary;
        position: absolute;
        top: 0;

        &:focus {
            outline: none;
        }

        @include media("<=tablet") {
            display: block;
            @include menu-icon;

            &:before {
                position: relative;
                top: -6px;
            }

            &:after {
                position: relative;
                top: 0;
            }
        }

        &.toggle_button__on {
            &:before {
                @include transform(rotate(45deg));
                top: 2px;
                box-shadow: none;
            }

            &:after {
                @include transform(rotate(-45deg));
                width: 22px;
            }
        }
    }

    ul {
        position: relative;
        list-style: none;
        z-index: 20;
        display: inline;

        li {
            @include adjust-font-size-to($delta);
            font-family: $header-font-family;
            font-weight: bold;
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;

            a {
                display: inline-block;
                @include rem(padding,rhythm(0.25));
                text-decoration: none;
            }
        }
    }

    @include media("<=tablet") {
        nav {
            width: 100%;
            display: none;
            background: $white;

            ul {
                @include rem(padding-top,rhythm(1.5));
                display: block;

                li {
                    @include adjust-font-size-to($epsilon);
                    display: block;
                    width: 100%;
                    padding: 0;

                    a {
                        @include rem(padding-left,rhythm(0.5));
                        display: block;
                    }

                    &:hover {
                        background: $primary;

                        > a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
