@import "base";

html {
    width: 100%;
}

body {
    font-family: $font-family;
    font-size: $base-font-size;
    color: $copy;
    background: url("../images/wood-bg.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

@include media("<=phone-ls") {
    html, body {
        -webkit-text-size-adjust: none;
    }
}

#wrapper {
    @include clearfix;
}

.inner-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include pie-clearfix;
}

.main {
    > .row {
        @include clearfix;
        @include rem(margin-bottom, rhythm(0.5));

        &.content {
            @include rem(padding, 0 rhythm(1));

            > .inner-wrap section.twelvecol {
                @include rem(margin-bottom, rhythm(2));
            }
        }
    }

    &.no-banner {
        @include rem(padding-top, rhythm(2));
    }
}

.content {
    ul, ol {
        list-style: disc;
        list-style-position: outside;
        @include rem(margin, 0 0 rhythm(1));
        padding: 0 0 0 20px;
    }

    ol {
        list-style: decimal;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

a img {
    border: none;
}

.clear {
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.center {
    text-align: center;
}

hr {
    border: none;
    background: $light-grey;
    height: 1px;
    @include rem(margin, rhythm(1) 0);

}

.alert {
    @include rem(padding, rhythm(0.5));
    @include rem(margin-bottom, rhythm(0.5));
    border: 1px solid transparent;
    border-radius: 4px;
    //display: inline-block;

    p {
        margin-bottom: 0;
    }

    &.alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }

    &.alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    &.alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    &.alert-error {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
}

.collapsible {
    @include rem(margin-bottom, rhythm(1));

    h4 {
        @include icon-after("\f078", $delta, $primary);
        @include adjust-font-size-to($epsilon);
        @include rem(margin-bottom, rhythm(1));
        cursor: pointer;
        border-bottom: 2px solid $primary;
        @include rem(padding, 0 rhythm(0.75) rhythm(0.25) 0);


        &:after {
            float: right;
        }

        &.open:after {
            content: '\f077';
        }
    }

    .expandable-content {
        display: none;
    }
}

/*********** SLIDER *************/
section.slider-container {
    position: relative;
    @include rem(margin-bottom, rhythm(0.5));

    .main-banner {
        height: 0;
        padding-bottom: (3/8) * 100%;

        &:not(.slick-initialized) {
            overflow: hidden;
        }

        figure {
            @include aspect-ratio-img(8, 3);

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: $copy;
                z-index: -1;
            }

            img {
                opacity: 0.6;
            }

            figcaption {
                @include rem(padding, rhythm(1));
                position: absolute;
                margin: auto;
                width: 80%;
                max-width: 680px;
                left: 0;
                right: 0;
                top: 25%;
                @include transform(translate(0, -25%));
                text-align: center;
                font-family: $banner-font-family;
                font-size: $alpha * 1.25;
                @include rem(line-height, rhythm(4.5));
                color: $primary;

                span {
                    font-family: $banner-alt-font-family;
                    font-size: 65px;
                    margin: -8px 0;
                    display: inline-block;
                }

                @include media("<=desktop-larger") {
                    font-size: $alpha;
                    @include rem(line-height, rhythm(3.5));
                    span {
                        font-size: 54px;
                    }
                }

                @include media("<=desktop-smaller") {
                    font-size: $beta;
                    @include rem(line-height, rhythm(2.5));
                    span {
                        font-size: 40px;
                    }
                }

                @include media("<=phone-ls") {
                    @include rem(padding, rhythm(0.5));
                    font-size: $delta;
                    @include rem(line-height, rhythm(1.5));

                    span {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .slider-title {
        @include rem(padding, 0 rhythm(1));
    }

    .carousel {
        div.slick-slide {
            figure {
                @include aspect-ratio-img(1,1);
            }
        }
    }
}

/************* VENUE PAGE ****************/
div.map-container {
    position: relative;
    height: 350px;

    @include media("<tablet") {
        height: 250px;
    }

    > iframe {
        position: absolute !important;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

/************* PHOTOS PAGE *************/
#instafeed {
    > div {
        margin-bottom: gutters();

        @include media(">=desktop") {
            @include span(3);
            &:nth-of-type(4n+4) {
                margin-right: 0;
            }
        }

        @include media("<desktop",">=tablet-gt") {
            @include span(4);

            &:nth-of-type(3n+3) {
                margin-right: 0;
            }
        }

        @include media("<tablet",">=phone") {
            @include span(6);

            &:nth-of-type(even) {
                margin-right: 0;
            }
        }

        @include media("<=phone") {
            @include span(12);
        }

        figure {
            @include aspect-ratio-img(1,1);
            position: relative;
            cursor: pointer;

            figcaption {
                @include rem(padding, rhythm(0.5));
                font-size: $theta;
                line-height: 1.2;
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($black, 0.6);
                z-index: 2;

                div {
                    position: absolute;
                    top: 50%;
                    @include transform(translate(0, -50%));

                    span {
                        @include icon-before('\f004',$epsilon);
                        font-size: $epsilon;
                        display: block;
                    }
                }
            }

            img {
                bottom: 0;
                margin: auto;
                z-index: 1;
                @include transition(all .3s);
            }

            &:hover {
                figcaption {
                    display: block;
                }

                img {
                    @include transform(scale(1.25));
                }
            }
        }
    }
}

/************* WHERE TO STAY PAGE ***********/
div.alt-accoms {
    #map {
        width: 100%;
        height: 320px;
        @include rem(margin-bottom, rhythm(0.5));
    }

    @include media(">desktop-smaller") {
        position: relative;

        .map-result-container.sticky {
            position: fixed;
            width: span(5.7);

            + .map-results {
                float: right;
            }
        }
    }

    .result-element {
        @include span(6 (gutters: 2));
        margin-bottom: gutter(6);

        @include media("<=phone-ls") {
            @include span(12);
        }

        &:nth-of-type(even) {
            margin-right: 0;
        }

        figure {
            @include aspect-ratio-img(16,9);
        }

        .accom-info {
            @include rem(padding, rhythm(0.5));
            @include rem(margin, rhythm(-0.75) auto 0);
            @include transition(width .1s);
            overflow: hidden;
            width: calc(100% - 24px);
            position: relative;
            background: $white;
            color: $black;

            h3 {
                color: $black;
                @include rem(margin-bottom, rhythm(0.25));
            }

            p {
                margin-bottom: 0;
            }
        }

        &.highlight {
            border: 2px solid $accent-pink;

            .accom-info {
                width: 100%;
            }
        }
    }
}

/*********** BIG DAY PAGE *************/
.timeline {
    @include rem(margin-bottom, rhythm(1));
    position: relative;
}

/************* RSVP FORM **************/
form.rsvpForm {
    .rsvp-on-behalf {
        @include rem(margin, rhythm(1) 0);

        span#rsvp-on-behalf-trigger {
            @include icon-before('\f055',$delta,$accent-pink);
            background: transparent;
            border-color: $accent-pink;
            color: $accent-pink;

            &:before {
                vertical-align: text-bottom;
            }

            &:hover {
                background-color: $white;
                color: $accent-pink;
                text-decoration: none;
            }
        }
    }
}